<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jtyjy.finance.manager.mapper.BudgetUnitProductMapper">
    <resultMap id="BaseResultMap" type="com.jtyjy.finance.manager.bean.BudgetUnitProduct">
        <id column="unitid" jdbcType="BIGINT" property="unitid"/>
        <id column="productid" jdbcType="BIGINT" property="productid"/>
    </resultMap>
</mapper>