<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jtyjy.finance.manager.mapper.BudgetYearErporderMapper">
    <resultMap id="BaseResultMap" type="com.jtyjy.finance.manager.bean.BudgetYearErporder">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="yearid" jdbcType="BIGINT" property="yearid"/>
        <result column="unitid" jdbcType="BIGINT" property="unitid"/>
        <result column="erporderno" jdbcType="VARCHAR" property="erporderno"/>
        <result column="erpordername" jdbcType="VARCHAR" property="erpordername"/>
        <result column="erporderje" jdbcType="DECIMAL" property="erporderje"/>
        <result column="managefee" jdbcType="DECIMAL" property="managefee"/>
        <result column="erpordertime" jdbcType="DATE" property="erpordertime"/>
        <result column="leaderid" jdbcType="VARCHAR" property="leaderid"/>
        <result column="leadername" jdbcType="VARCHAR" property="leadername"/>
        <result column="createtime" jdbcType="TIMESTAMP" property="createtime"/>
    </resultMap>
    <sql id="Base_Column_List">
        id
        , yearid, unitid, erporderno, erpordername, erporderje, managefee, erpordertime,
    leaderid, leadername, createtime
    </sql>
</mapper>