<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jtyjy.finance.manager.mapper.BudgetProjectnocodeMapper">
    <resultMap id="BaseResultMap" type="com.jtyjy.finance.manager.bean.BudgetProjectnocode">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="projectid" jdbcType="BIGINT" property="projectid"/>
        <result column="beforecode" jdbcType="VARCHAR" property="beforecode"/>
        <result column="currentcode" jdbcType="VARCHAR" property="currentcode"/>
        <result column="aftercode" jdbcType="VARCHAR" property="aftercode"/>
        <result column="createtime" jdbcType="TIMESTAMP" property="createtime"/>
    </resultMap>
    <sql id="Base_Column_List">
        id
        , projectid, beforecode, currentcode, aftercode, createtime
    </sql>
</mapper>