<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jtyjy.finance.manager.mapper.BudgetReportMonthexecutefeedbacksumMapper">
    <resultMap id="BaseResultMap" type="com.jtyjy.finance.manager.bean.BudgetReportMonthexecutefeedbacksum">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="yearid" jdbcType="BIGINT" property="yearid"/>
        <result column="yearname" jdbcType="VARCHAR" property="yearname"/>
        <result column="unitid" jdbcType="BIGINT" property="unitid"/>
        <result column="unitname" jdbcType="VARCHAR" property="unitname"/>
        <result column="subjectid" jdbcType="BIGINT" property="subjectid"/>
        <result column="subjectname" jdbcType="VARCHAR" property="subjectname"/>
        <result column="subjecttrrname" jdbcType="VARCHAR" property="subjecttrrname"/>
        <result column="monthid" jdbcType="BIGINT" property="monthid"/>
        <result column="level" jdbcType="INTEGER" property="level"/>
        <result column="preestimate" jdbcType="DECIMAL" property="preestimate"/>
        <result column="subjectyearagentmoney" jdbcType="DECIMAL" property="subjectyearagentmoney"/>
        <result column="monthexecutemoney" jdbcType="DECIMAL" property="monthexecutemoney"/>
        <result column="monthrevenueformula" jdbcType="DECIMAL" property="monthrevenueformula"/>
        <result column="executemoneysum" jdbcType="DECIMAL" property="executemoneysum"/>
        <result column="yearagentmoney" jdbcType="DECIMAL" property="yearagentmoney"/>
        <result column="addmoneysum" jdbcType="DECIMAL" property="addmoneysum"/>
        <result column="yearrevenueformula" jdbcType="DECIMAL" property="yearrevenueformula"/>
        <result column="orderno" jdbcType="BIGINT" property="orderno"/>
        <result column="createtime" jdbcType="TIMESTAMP" property="createtime"/>
        <result column="updatetime" jdbcType="TIMESTAMP" property="updatetime"/>
    </resultMap>
    <sql id="Base_Column_List">
        id
        , yearid, yearname, unitid, unitname, subjectid, subjectname, subjecttrrname, monthid,
    level, preestimate, subjectyearagentmoney, monthexecutemoney, monthrevenueformula, 
    executemoneysum, yearagentmoney, addmoneysum, yearrevenueformula, orderno, createtime, 
    updatetime
    </sql>
</mapper>