<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jtyjy.finance.manager.mapper.BudgetExtractImportdetailMapper">
    <resultMap id="BaseResultMap" type="com.jtyjy.finance.manager.bean.BudgetExtractImportdetail">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="extractsumid" jdbcType="BIGINT" property="extractsumid"/>
        <result column="extractdetailid" jdbcType="BIGINT" property="extractdetailid"/>
        <result column="yearid" jdbcType="BIGINT" property="yearid"/>
        <result column="iscompanyemp" jdbcType="BIT" property="iscompanyemp"/>
        <result column="isbaddebt" jdbcType="BIT" property="isbaddebt"/>
        <result column="empid" jdbcType="VARCHAR" property="empid"/>
        <result column="idnumber" jdbcType="VARCHAR" property="idnumber"/>
        <result column="empno" jdbcType="VARCHAR" property="empno"/>
        <result column="empname" jdbcType="VARCHAR" property="empname"/>
        <result column="copeextract" jdbcType="DECIMAL" property="copeextract"/>
        <result column="consotax" jdbcType="DECIMAL" property="consotax"/>
        <result column="createtime" jdbcType="TIMESTAMP" property="createtime"/>
        <result column="updatetime" jdbcType="TIMESTAMP" property="updatetime"/>
    </resultMap>
    
    <update id="clearExtractDetail" parameterType="java.lang.String">
    	update budget_extract_importdetail set extractdetailid=null where extractsumid in (${ids})
    </update>
    
    <select id="getExtractImportDetails" resultType="com.jtyjy.finance.manager.vo.ExtractImportDetailVO">
    SELECT
    	  bei.id,
		  bei.yearid,
		  byp.period,
		  bei.iscompanyemp,
		  bei.isbaddebt,
		  bei.empid,
		  bei.empno,
		  bei.empname,
		  bei.idnumber,
		  bei.copeextract,
		  bei.consotax,
		  bei.extract_type extractType,
		  ifnull(bei.should_send_extract,0) shouldSendExtract,
		  ifnull(bei.tax,0) tax,
		  ifnull(bei.tax_reduction,0) taxReduction,
		  ifnull(bei.invoice_excess_tax,0) invoiceExcessTax,
		  ifnull(bei.invoice_excess_tax_reduction,0) invoiceExcessTaxReduction
		FROM
			budget_extract_importdetail bei
			LEFT JOIN budget_year_period byp ON bei.yearid = byp.id
    <where>
    	extractsumid = #{params.sumId}
    	<if test="params.yearid != null">
    		and bei.yearid = #{params.yearid}
    	</if>
    	<if test="params.iscompanyemp != null">
    		and bei.iscompanyemp = #{params.iscompanyemp}
    	</if>
    	<if test="params.isbaddebt != null">
    		and bei.isbaddebt = #{params.isbaddebt}
    	</if>
    	<if test="params.empno != null and params.empno != ''">
    		and ( bei.empno like concat('%',#{params.empno},'%')
    			or bei.empname like concat('%',#{params.empno},'%')
    		)
    	</if>
    	<if test="params.idnumber != null and params.idnumber != ''">
    		and bei.idnumber like concat('%',#{params.idnumber},'%')			
    	</if>
    	order by bei.updatetime desc 
    </where>
    
    </select>

	<sql id="searchQuery">
		<if test="employeeName != null and employeeName !=''">
			and (bei.empno like concat('%',#{employeeName},'%') or bei.enpname like concat('%',#{employeeName},'%'))
		</if>
		<if test="departmentName != null and departmentName !=''">
			and be.deptname like concat('%',#{departmentName},'%')
		</if>
		<if test="yearId != null and yearId !=''">
			and be.yearid = #{yearId}
		</if>
		<if test="monthId != null and monthId !=''">
			and substr(be.extractmonth,5,2)  = #{monthId}
		</if>
		<if test="extractMonth != null and extractMonth !=''">
			and be.extractmonth like concat('%',#{extractMonth},'%')
		</if>
   </sql>


	<select id="selectCommissionPageForCommercialCommission"
			resultType="com.jtyjy.finance.manager.vo.application.CommissionImportDetailVO">
		select * from (
		select bei.* from budget_extractsum be
						 left join budget_extract_importdetail bei on be.id = bei.extractsumid
			where 1=1
		<include refid="searchQuery"></include>
		) temp order by temp.createtime desc
	</select>

	<select id="selectCommissionPageForBigManager"
			resultType="com.jtyjy.finance.manager.vo.application.CommissionImportDetailVO">

		select * from (
		select bei.* from budget_extractsum be
		left join budget_extract_importdetail bei on be.id = bei.extractsumid
		where bei.if_big_manager != -1
		and bei.createtime >= date_sub(now(), interval 3 month) and be.deptid = #{deptId}
		<include refid="searchQuery"></include>
		union
		select bei.* from budget_extractsum be
		left join budget_extract_importdetail bei on be.id = bei.extractsumid
		where bei.if_big_manager = 1 and be.deptid = #{deptId}
		<include refid="searchQuery"></include>
		) temp order by temp.createtime desc
	</select>

    <select id="selectCommissionPageForManager" resultType="com.jtyjy.finance.manager.vo.application.CommissionImportDetailVO">
		select * from (
		select bei.* from budget_extractsum be
		left join budget_extract_importdetail bei on be.id = bei.extractsumid
		where bei.if_manager != -1
		and bei.createtime >= date_sub(now(), interval 3 month) and bei.empno = #{empNo}
		<include refid="searchQuery"></include>
		union
		select bei.* from budget_extractsum be
		left join budget_extract_importdetail bei on be.id = bei.extractsumid
		where bei.if_manager = 1 and bei.empno = #{empNo}
		<include refid="searchQuery"></include>
		    ) temp order by temp.createtime desc
	</select>





    <select id="getAllByExtractMonth" resultType="com.jtyjy.finance.manager.bean.BudgetExtractImportdetail">
		select bei.* from budget_extractsum be left join budget_extract_importdetail bei on be.id =bei.extractsumid where be.extractmonth = #{extractMonth}
	</select>
</mapper>