<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jtyjy.finance.manager.mapper.BudgetYearSubjectHisMapper">
    <resultMap id="BaseResultMap" type="com.jtyjy.finance.manager.bean.BudgetYearSubjectHis">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="yearid" jdbcType="BIGINT" property="yearid"/>
        <result column="unitid" jdbcType="BIGINT" property="unitid"/>
        <result column="subjectid" jdbcType="BIGINT" property="subjectid"/>
        <result column="type" jdbcType="INTEGER" property="type"/>
        <result column="createtime" jdbcType="TIMESTAMP" property="createtime"/>
        <result column="updatetime" jdbcType="TIMESTAMP" property="updatetime"/>
        <result column="total" jdbcType="DECIMAL" property="total"/>
        <result column="beforeaddmoney" jdbcType="DECIMAL" property="beforeaddmoney"/>
        <result column="beforelendoutmoney" jdbcType="DECIMAL" property="beforelendoutmoney"/>
        <result column="beforelendinmoney" jdbcType="DECIMAL" property="beforelendinmoney"/>
        <result column="beforeexecutemoney" jdbcType="DECIMAL" property="beforeexecutemoney"/>
        <result column="afteraddmoney" jdbcType="DECIMAL" property="afteraddmoney"/>
        <result column="afterlendoutmoney" jdbcType="DECIMAL" property="afterlendoutmoney"/>
        <result column="afterlendinmoney" jdbcType="DECIMAL" property="afterlendinmoney"/>
        <result column="afterexecutemoney" jdbcType="DECIMAL" property="afterexecutemoney"/>
    </resultMap>
    <sql id="Base_Column_List">
        id
        , yearid, unitid, subjectid, type, createtime, updatetime, total, beforeaddmoney,
    beforelendoutmoney, beforelendinmoney, beforeexecutemoney, afteraddmoney, afterlendoutmoney, 
    afterlendinmoney, afterexecutemoney
    </sql>
</mapper>