<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jtyjy.finance.manager.mapper.BudgetExtractTaxHandleRecordMapper">

    <resultMap id="BaseResultMap" type="com.jtyjy.finance.manager.bean.BudgetExtractTaxHandleRecord">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="extractMonth" column="extract_month" jdbcType="VARCHAR"/>
            <result property="isCalComplete" column="is_cal_complete" jdbcType="BIT"/>
            <result property="isSetExcessComplete" column="is_set_excess_complete" jdbcType="BIT"/>
            <result property="isPersonalityComplete" column="is_personality_complete" jdbcType="BIT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,extract_month,is_cal_complete,
        is_set_excess_complete,is_personality_complete
    </sql>
    <select id="getOldBatchUnHandleCount" resultType="java.lang.Integer">
        select count(*) from budget_extract_tax_handle_record
        where extract_month &lt; #{extractBatch} and (
            (is_cal_complete = 0 and is_set_excess_complete = 0 and is_personality_complete = 1) or
            (is_cal_complete = 1 and is_personality_complete = 0)
        )
    </select>
</mapper>
