<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jtyjy.finance.manager.mapper.BudgetExtractAccountTaskMapper">
        <!--bbu.accountants like concat('%',#{params.empNo},'%') and -->
    <select id="getExtractAccountTaskHistoryList"
            resultType="com.jtyjy.finance.manager.vo.ExtractAccountTaskResponseVO">
        SELECT
            beat.id,
            bes.`status`,
            bes.id sumId,
            beat.extract_code 'code',
            byp.period yearPeriod,
            concat( substr( bes.extractmonth, 5, 2 )+ 0, '月' ) monthPeriod,
            bes.extractmonth extractBatch,
            bes.deptname unitName,
            beat.create_time createTime,
            CONCAT( wu.DISPLAY_NAME, '(', wu.USER_NAME, ')' ) accountant,
            beat.accountant_time accountantTime,
            ( SELECT sum( pay_money ) FROM budget_extract_per_pay_detail WHERE extract_code = beat.extract_code AND pay_status = beat.task_type and billing_unit_id=bbu.id) payMoney,
            beat.task_type taskType,
            bbu.`name` billingUnitName
        FROM
            budget_extract_account_task beat
            LEFT JOIN budget_extractsum bes ON ifnull(beat.relation_extract_code,beat.extract_code) = bes.`code`
            LEFT JOIN budget_year_period byp ON byp.id = bes.yearid
            LEFT JOIN wb_user wu ON beat.accountant_emp_no = wu.USER_NAME
            LEFT JOIN budget_billing_unit bbu ON bbu.id = beat.billing_unit_id
        <where>
            beat.is_should_account = 1
            and beat.accountant_status = 1
            <if test="params.orderNo !=null and params.orderNo !=''">
                and bes.`code` like concat('%',#{params.orderNo},'%')
            </if>
            <if test="params.yearPeriodId !=null">
                and byp.id = #{params.yearPeriodId}
            </if>
            <if test="params.monthPeriodId !=null">
                and (substr( bes.extractmonth, 5, 2 )+ 0) = #{params.monthPeriodId}
            </if>
            <if test="params.extractBatch !=null and params.extractBatch !=''">
                and bes.extractmonth like concat('%',#{params.extractBatch},'%')
            </if>
            <if test="params.deptName !=null and params.deptName !=''">
                and bes.deptname like concat('%',#{params.deptName},'%')
            </if>
            <if test="params.billingUnitName !=null and params.billingUnitName !=''">
                and bbu.`name` like concat('%',#{params.billingUnitName},'%')
            </if>
            <if test="params.status !=null">
                and bes.status = #{params.status}
            </if>
        </where>
        order by beat.create_time desc
    </select>
    <select id="getExtractAccountTaskDetail"
            resultType="com.jtyjy.finance.manager.vo.ExtractAccountTaskDetailVO">

        SELECT
            beppd.receiver_code empNo,
            beppd.receiver_name empName,
            beppd.receiver_account_name accountName,
            beppd.pay_money money,
            beppd.receiver_account_name receiver,
            beppd.receiver_open_bank receiverBank,
            beppd.receiver_bank_account bankAccount,
            bbu.`name` unitName,
            beppd.pay_status payStatus,
            beppd.personality_id personalityId,
            bief.account_type accountType
        FROM
             budget_extract_per_pay_detail beppd
          LEFT JOIN budget_billing_unit bbu ON bbu.id = beppd.billing_unit_id
            left join budget_individual_employee_files bief on bief.id = beppd.personality_id
        where beppd.extract_code = #{params.extractCode}

        <if test="params.empNo!=null and params.empNo!=''">
            and (beppd.receiver_code like concat('%',#{params.empNo},'%') or beppd.receiver_name like concat('%',#{params.empNo},'%'))
        </if>
        <if test="params.unitName!=null and params.unitName!=''">
            and bbu.`name` like concat('%',#{params.unitName},'%')
        </if>
        <if test="params.personalityName!=null and params.personalityName!=''">
            and beppd.receiver_account_name like concat('%',#{params.personalityName},'%')
        </if>
        <if test="params.payStatus!=null ">
            and beppd.pay_status = #{params.payStatus}
        </if>
        <if test="params.personalityIds!=null and params.personalityIds.size()>0">
            and beppd.personality_id in
            <foreach collection="params.personalityIds" separator="," open="(" close=")" item="id">
                #{id}
            </foreach>
            and beppd.pay_status = 3
        </if>
    </select>
    <select id="getExtractAccountTaskList"
            resultType="com.jtyjy.finance.manager.vo.ExtractAccountTaskResponseVO">
        SELECT
            bes.`status`,
            bes.id sumId,
            a.extract_code 'code',
            byp.period yearPeriod,
            concat( substr( bes.extractmonth, 5, 2 )+ 0, '月' ) monthPeriod,
            bes.extractmonth extractBatch,
            bes.deptname unitName,
            a.create_time createTime,
            a.task_type taskType,a.payMoney
        FROM
            (
            SELECT
                beat.extract_code,
                beat.relation_extract_code,
                beat.task_type,
                beat.create_time,( SELECT sum( pay_money ) FROM budget_extract_per_pay_detail WHERE extract_code = beat.extract_code AND pay_status = beat.task_type ) payMoney
            FROM
                budget_extract_account_task beat
                LEFT JOIN budget_billing_unit bbu ON beat.billing_unit_id = bbu.id
            WHERE
                bbu.accountants LIKE concat('%',#{params.empNo},'%')
                AND beat.is_should_account = 1
                AND beat.accountant_status = 0
                <if test="params.billingUnitName !=null and params.billingUnitName !=''">
                    and bbu.`name` like concat('%',#{params.billingUnitName},'%')
                </if>
            GROUP BY
                beat.extract_code,
                beat.task_type,
                beat.create_time,
                beat.relation_extract_code
            ) a
            LEFT JOIN budget_extractsum bes ON ifnull(a.relation_extract_code,a.extract_code) = bes.`code`
            LEFT JOIN budget_year_period byp ON byp.id = bes.yearid
            <where>
                1 = 1
                <if test="params.orderNo !=null and params.orderNo !=''">
                    and a.extract_code like concat('%',#{params.orderNo},'%')
                </if>
                <if test="params.extractBatch !=null and params.extractBatch !=''">
                    and bes.extractmonth like concat('%',#{params.extractBatch},'%')
                </if>
                <if test="params.deptName !=null and params.deptName !=''">
                    and bes.deptname like concat('%',#{params.deptName},'%')
                </if>
            </where>
        order by a.create_time desc,a.extract_code desc
    </select>
</mapper>
