<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jtyjy.finance.manager.mapper.BudgetReimbursementorderTravelMapper">
    <resultMap id="BaseResultMap" type="com.jtyjy.finance.manager.bean.BudgetReimbursementorderTravel">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="reimbursementid" jdbcType="BIGINT" property="reimbursementid"/>
        <result column="travelvehicle" jdbcType="INTEGER" property="travelvehicle"/>
        <result column="travelstart" jdbcType="TIMESTAMP" property="travelstart"/>
        <result column="travelend" jdbcType="TIMESTAMP" property="travelend"/>
        <result column="travelorigin" jdbcType="VARCHAR" property="travelorigin"/>
        <result column="traveldest" jdbcType="VARCHAR" property="traveldest"/>
        <result column="citytravelexp" jdbcType="DECIMAL" property="citytravelexp"/>
        <result column="longtravelexp" jdbcType="DECIMAL" property="longtravelexp"/>
        <result column="hotelexpense" jdbcType="DECIMAL" property="hotelexpense"/>
        <result column="travelday" jdbcType="DECIMAL" property="travelday"/>
        <result column="dailysubsidy" jdbcType="DECIMAL" property="dailysubsidy"/>
        <result column="other" jdbcType="DECIMAL" property="other"/>
        <result column="total" jdbcType="DECIMAL" property="total"/>
    </resultMap>
    <sql id="Base_Column_List">
        id
        , reimbursementid, travelvehicle, travelstart, travelend, travelorigin, traveldest,
    citytravelexp, longtravelexp, hotelexpense, travelday, dailysubsidy, other, total
    </sql>
    
    <select id = "travelSummaryByYear" resultType = "com.jtyjy.finance.manager.easyexcel.TravelSumExcelData" >
    	SELECT maintab.*, (LENGTH(maintab.traveler) - LENGTH(REPLACE(maintab.traveler,',',''))+1) travelerNum, CONCAT(DATE_FORMAT(travel.travelstart, '%Y-%m-%d %H:%i:%s' ), '--', DATE_FORMAT(travel.travelend, '%Y-%m-%d %H:%i:%s' )) travelPeriod, ROUND(travel.travelday, 2) travelDay, ROUND(travel.total, 2) totalAmt, ROUND(travel.longtravelexp,2) longAmt, ROUND(travel.citytravelexp,2) cityAmt, ROUND(travel.hotelexpense,2) hotelAmt, ROUND(travel.travelday, 2) subsidyDay, ROUND(travel.dailysubsidy, 2) subsidyBz, ROUND(travel.travelday * travel.dailysubsidy, 2) subsidyAmt, ROUND(travel.other, 2) otherAmt
		FROM 
		(SELECT ord.id reimbursementid, ord.reimcode, unit.name unitName, CONCAT(ord.monthid, '月') bxMonth, ord.reimperonsname bxr, ord.traveler, ord.travelreason travelReason, GROUP_CONCAT(detail.monthagentname) agentName, ord.remark, ord.allocatedmoney
		FROM budget_reimbursementorder ord LEFT JOIN budget_unit unit ON ord.unitid = unit.id LEFT JOIN budget_reimbursementorder_detail detail ON ord.id = detail.reimbursementid
		WHERE ord.reuqeststatus = 2 AND ord.bxtype = #{bxType} AND ord.yearid = #{yearId}
		<if test="monthId !=null and monthId !=''">
        	AND ord.monthid = #{monthId}
        </if>
		GROUP BY ord.id
		ORDER BY ord.id
		) maintab
		LEFT JOIN budget_reimbursementorder_travel travel ON maintab.reimbursementid = travel.reimbursementid
    </select>
</mapper>