<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jtyjy.finance.manager.mapper.WbKeyMapper">
    <resultMap id="BaseResultMap" type="com.jtyjy.finance.manager.bean.WbKey">
        <result column="KEY_ID" jdbcType="VARCHAR" property="keyId"/>
        <result column="KEY_NAME" jdbcType="VARCHAR" property="keyName"/>
        <result column="K" jdbcType="VARCHAR" property="k"/>
        <result column="V" jdbcType="VARCHAR" property="v"/>
        <result column="TYPE" jdbcType="DECIMAL" property="type"/>
        <result column="C" jdbcType="VARCHAR" property="c"/>
    </resultMap>
</mapper>