<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jtyjy.finance.manager.mapper.WbLogMapper">
    <resultMap id="BaseResultMap" type="com.jtyjy.finance.manager.bean.WbLog">
        <result column="LOG_DATE" jdbcType="TIMESTAMP" property="logDate"/>
        <result column="USER_NAME" jdbcType="VARCHAR" property="userName"/>
        <result column="IP" jdbcType="VARCHAR" property="ip"/>
        <result column="LOG_TYPE" jdbcType="DECIMAL" property="logType"/>
        <result column="MSG" jdbcType="LONGVARCHAR" property="msg"/>
        <result column="RESULT" jdbcType="LONGVARCHAR" property="result"/>
    </resultMap>
</mapper>